
/* This is a margin and padding reset for the entire page*/
* {
    margin: 0px;
    padding: 0px;
}
/* ------------------------------------------ */


/*This section styles the body (main content) of the page */
body {
    display: flex;
    flex-direction: column;
}
/* ------------------------------------------ */


/* This section styles the header bar at the top of the page */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #1f2937;
    color: #ffffff;
    flex-direction: column;
}
/* ------------------------------------------ */


/* This section styles the header links at the top of the page */
a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 700;
}
/* ------------------------------------------ */


/* This section helps position the header links correctly on the page */
.header-links {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-bottom: 6rem;
}
/* ------------------------------------------ */


/* This section styles the header logo */
.header-logo {
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.75rem;
    margin-top: -20px;
    margin-left: -20px;
    color: #f9faf8;
}
/* ------------------------------------------ */


/* This section styles the paragraph under <h1> This Website is Awesome*/
.main-p {
    color: #e5e7eb;
    font-size: 1.15rem;
}
/* ------------------------------------------ */


/*Next Section - Section 2 of Header - Contains first sign-up button and place holder image*/

/* Top class styles the h1, the paragraph below it and the sign up button */
.top {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 3rem;
}
/* ------------------------------------------ */


/* This section styles the h1 header This Website is Awesome */
h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #f9faf8;
}
/* ------------------------------------------ */


/* This section is used to help position the first sign-up button on the page */
.button-one {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
/* ------------------------------------------ */


/* Style the first sign-up button */
button {
    background-color: #3882f6;
    color: #ffffff;
    padding: 7px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
/* ------------------------------------------ */



/* Used to style the first/main place holder image*/
.image-one {
    background-color: grey;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 500px;
}
/* ------------------------------------------ */


/* Used to create a wrapper around class top and class image-one to help position them on the page*/
.wrapper-one {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
/* ------------------------------------------ */


/* Next Section - Contains "Some random information.", the 4 image place holders and their paragraphs beneth the image place holders */


/* Wraps around h2 and 4 images and 4 paragraphs */
.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
    padding: 7rem;
}
/* --------------------------------- */


/* Styles Some Random Information. text */
h2 {
    margin-top: 10px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------------------- */


/* Styles 4 Images and Paragraphs below them */
.imageone {
    display: flex;
    height: 200px;
    width: 200px;
    border: solid blue;
    border-radius: 20px;
    flex-direction: column;
    gap: 190px;
    align-items: center;
}

.imagetwo {
    height: 200px;
    width: 200px;
    border: solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 190px;
    align-items: center;
}

.imagethree {
    height: 200px;
    width: 200px;
    border: solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 190px;
    align-items: center;
}

.imagefour {
    height: 200px;
    width: 200px;
    border: solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 190px;
    align-items: center;
}
/* --------------------------------- */


/* Next Section - Quote */

/* Used to style quote */
.quote  {
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex-wrap: wrap;
    padding: 7rem;
    justify-content: center;
    align-items: center;
}
/* ----------------------------*/


/* Style Thor, God of Thunder */
.quote-credit {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-left: 80%;
    margin-top: 3%;
}
/* ----------------------------*/

/* Next Section - Call to Action */


.call-to-action {
    display: flex;
    background-color: #3882f6;
    width: 800px;
    height: 100px;
    align-items: center;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
    font-size: 1.25rem;
}

span {
    font-weight: 900;
    font-size: 1.5rem;
}

.button2 {
    border: 1px solid white;
    border-style: none;
}


/* Styled Footer Below */

footer {
    margin-top: 200px;
    text-align: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 2rem;
}










